// @import "../../../theme.scss";

.post-detail-card {
  margin: 0 auto;
  max-width: 800px;
  padding: 16px 16px 20px 16px;

  mat-form-field {
    width: 100%;
  }

  .detail-card-actions {
    margin: auto;
  }

  .credit-date-text {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }

  .detail-card-header {
    margin: 0 !important;
    padding: 0;
    font-size: 18px !important;
  }

  .bottom-button-row button {
    margin-right: 16px;
  }

  .post-title {
    font-size: 20px !important;
    margin: 0 0 4px !important;
    font-style: bold;
    color: #3f51b5;
  }

  .post-subtitle {
    font-size: 16px !important;
    margin: 0 !important;
    font-style: italic;
    color: #3f51b5;
  }
  .post-content {
    margin: 16px 0 !important;
    white-space: pre-wrap;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  }

  .header-image {
    background-image: url("/assets/imgs/me-outside.jpg");
    background-size: cover;
  }

  .post-button-back {
    background-color: #0d47a1;
    color: white;
    margin-right: 16px;
  }
  .post-button-delete {
    color: orangered;
  }

  .post-button-edit {
    color: #0d47a1;
    margin-right: 16px;
  }
}
