.title-style {
  margin: 0 0 4px;
  font-size: 18px;
  font-style: bold;
  color: #3F51B5;
}

.subtitle-style {
  font-size: 14px;
  font-style:  bold italic;
  color: #3F51B5;
}

.card-style {
  max-height: 240px;
}
.content-style {
  white-space: pre-wrap;
  margin: 0 0 8px;
}

.small-text {
  font-size: 14px !important;
}
